---
import Base from "../../layouts/base.astro";
export const prerender = false;

const url = Astro.url;
const originUrl = Astro.originPathname;

// if (!locals.uri) {
// 	return Astro.rewrite("/404");
// }
---

<Base>
	<h1>single template</h1>
	<pre>{JSON.stringify({url, originUrl}, null, 2)}</pre>

	<a href="/wp-templates/single">Direct to single template</a>
</Base>
