---
import Base from "../../layouts/base.astro";

export const prerender = true;

const url = Astro.url;
const originUrl = Astro.originPathname;
const locals = Astro.locals;

if (!locals.uri) {
	return Astro.rewrite("/404");
}
---

<Base>
	<h1>single template</h1>
	<pre>{JSON.stringify({url, originUrl, locals}, null, 2)}</pre>

	<a href="/wp-templates/single">Direct to single template</a>
</Base>
