@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
	--font-sans:
		Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--breakpoint-md: 900px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1800px;
	--breakpoint-2xl: 1800px;
}

@layer components {
	.button {
		@apply font-medium text-green-700 rounded-full bg-gray-50 p-3 border-green-700 hover:text-green-900 focus:border-2;
	}

	.form-inputs {
		@apply shadow-xs focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md;
	}
}
