@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* WordPress Core Block Styling */
.wp-blocks {
	@apply overflow-x-hidden;
	a {
		@apply relative text-violet-600;
	}

	/* Block: Image  ------------------------- */

	.wp-block-image {
		@apply mt-6 block;

		figure {
			@apply flex flex-col;
		}

		figcaption {
			@apply m-2 text-sm;
		}

		.aligncenter {
			@apply mx-auto;

			img {
				@apply mx-auto;
			}
			figcaption {
				@apply text-center;
			}
		}

		.alignright {
			@apply float-right ml-8;
		}

		.alignleft {
			@apply float-left mr-8;
		}

		&.is-style-rounded img {
			@apply rounded-full;
		}

		.size-full {
			@apply: w-[80%];
		}

		.size-large {
			@apply w-[80%];
		}

		/* .size-medium {
			@apply w-[60%];
		} */

		.size-medium {
			@apply w-[50%];
		}
	}

	/* Block: Paragraph  ------------------------- */

	.has-text-align-center {
		@apply text-center;
	}

	.has-drop-cap::first-letter {
		@apply float-left font-serif text-6xl leading-8 text-green-600;
		/* font-size: 75px; */
		/* line-height: 60px; */
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;

		@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
			initial-letter: 4;
			-webkit-initial-letter: 4;
			font-size: unset;
			@apply float-none p-0 leading-normal;
		}
	}

	.has-small-font-size {
		@apply text-sm;
	}

	.has-normal-font-size {
		@apply text-base;
	}

	.has-medium-font-size {
		@apply text-lg;
	}

	.has-large-font-size {
		@apply text-3xl;
	}

	.has-huge-font-size {
		@apply text-4xl;
	}

	/* Block: Separator  ------------------------- */

	hr.wp-block-separator {
		@apply m-6 border-violet-500;

		&:not(.is-style-wide) {
			@apply mx-auto max-w-xs;
		}

		&.is-style-dots {
			@apply h-auto max-w-none border-0 text-center leading-none;

			&::before {
				@apply font-serif text-2xl text-violet-500;
				content: "\00b7 \00b7 \00b7";
				letter-spacing: 2em;
				padding-left: 2em;
			}
		}
	}

	/* Block: Quote  ------------------------- */

	blockquote {
		@apply my-8 flex flex-col justify-center border-l-2 border-yellow-600 px-8;

		p {
			@apply m-auto italic;
		}
		cite {
			@apply block text-sm text-gray-700;
		}

		p,
		cite {
			@apply mt-6;
		}

		&.is-style-large {
			@apply relative border-none;
			p {
				@apply text-2xl;
			}

			p::before {
				content: "â";
				@apply absolute leading-none text-blue-600;
				font-size: 6rem;
				top: -1rem;
				left: -1rem;
			}
		}

		@screen md {
			@apply my-12 px-12;
		}

		&.has-text-align-center {
			@apply text-center;
		}
	}

	.wp-block-cover blockquote {
		@apply border-0;
	}

	/* Block: Lists  ------------------------- */
	& > ol,
	& > ul {
		@apply mt-6;
	}
	ol,
	ul {
		@apply list-inside pl-8 leading-8;

		li::marker {
			@apply font-medium;
		}
	}

	ol {
		@apply list-decimal;
	}

	ul {
		@apply list-disc;

		li > ul {
			list-style: circle;
		}
	}

	/* Block: Cover  ------------------------- */
	.wp-block-cover {
		@apply relative mt-6 flex h-full w-full items-center justify-center overflow-hidden bg-black bg-cover;
		min-height: 430px;

		.wp-block-cover__inner-container {
			@apply text-gray-100;
			width: calc(100% - 70px);
			z-index: 1;
		}

		&.has-parallax {
			@apply bg-fixed;
		}

		&.has-background-dim {
			&::before {
				@apply absolute inset-0;
				background-color: inherit;
				opacity: 0.5;
				content: "";
				z-index: 1;
			}

			&.has-background-dim-10 {
				opacity: 0.1;
			}

			&.has-background-dim-20 {
				&::before {
					opacity: 0.2;
				}
			}

			&.has-background-dim-30 {
				&::before {
					opacity: 0.3;
				}
			}

			&.has-background-dim-40 {
				&::before {
					opacity: 0.4;
				}
			}

			&.has-background-dim-60 {
				&::before {
					opacity: 0.6;
				}
			}

			&.has-background-dim-70 {
				&::before {
					opacity: 0.7;
				}
			}

			&.has-background-dim-80 {
				&::before {
					opacity: 0.8;
				}
			}

			&.has-background-dim-90 {
				&::before {
					opacity: 0.9;
				}
			}

			&.has-background-dim-100 {
				&::before {
					opacity: 1;
				}
			}
		}

		p {
			@apply text-white;
		}
	}

	/* Block: Columns  ------------------------- */

	.wp-block-columns {
		@apply flex flex-row flex-nowrap p-4;

		&.are-vertically-aligned-top {
			@apply justify-start;
		}

		&.are-vertically-aligned-center {
			@apply justify-center;
		}

		&.are-vertically-aligned-bottom {
			@apply justify-end;
		}

		.wp-block-column {
			@apply flex flex-col flex-nowrap;
			flex: 1;

			&.is-vertically-aligned-top {
				@apply justify-start;
			}

			&.is-vertically-aligned-center {
				@apply justify-center;
			}

			&.is-vertically-aligned-bottom {
				@apply justify-end;
			}
		}
	}

	/* Block: Gallery  ------------------------- */

	.wp-block-gallery {
		* {
			@apply m-0 p-0;
		}
		.blocks-gallery-grid {
			@apply flex flex-wrap gap-4;
		}

		.blocks-gallery-item {
			@apply relative flex min-w-0 list-none flex-col justify-center;
			flex: 1;

			a,
			.gatsby-image-wrapper {
				@apply h-full min-w-0 object-cover;
			}

			figure {
				@apply flex h-full items-end justify-center;

				figcaption {
					@apply absolute bottom-0 max-h-full w-full text-center text-sm text-white;
					padding: 40px 10px 9px;
					background: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.3) 70%,
						transparent
					);
				}
			}
		}

		&.is-cropped .blocks-gallery-item img {
			@apply h-full w-full;
			flex: 1;
			object-fit: cover;
		}

		&.columns-1 .blocks-gallery-grid .blocks-gallery-item {
			flex-basis: 95%;
		}
		&.columns-2 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 45%;
		}

		&.columns-3 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 28%;
		}

		&.columns-4 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 20%;
		}
		&.columns-5 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 15%;
		}

		&.columns-6 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 13%;
		}

		&.columns-7 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 11%;
		}

		&.columns-8 .blocks-gallery-grid .blocks-gallery-item {
			flex: 1 0 10%;
		}
	}
	/* Abreviations  ------------------------- */

	@media (hover: none) {
		abbr {
			text-decoration: none;
		}
		abbr::after {
			content: "(" attr(title) ")";
		}
	}
}

/* Embeds ------------------------- */

.wp-block-embed {
	@apply mt-12 mb-8;
	iframe {
		margin: auto;
	}
}
