---
import { classNames as cn } from "@/lib/strings";

const { to, href, override = false, class: className, ...rest } = Astro.props;
---

<a
	{...rest}
	href={href || to}
	rel="noopener"
	class={cn({ button: !override }, className)}
>
	<slot />
</a>
