---
import type {
	GetStaticPaths,
	InferGetStaticParamsType,
	InferGetStaticPropsType,
} from "astro";
import { getSeedQuery } from "../lib/seedQuery";
import { getTemplate } from "../lib/templates";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
	const posts = [
		{ uri: "/" },
		{ uri: "/category/hiking/" },
		{ uri: "/hiking/fkt-appalachian-high-route/" },
		{ uri: "/cdt/lake-city-to-salida-co/" },
	];
	return posts.map((post) => {
		return {
			params: { uri: post.uri },
			props: { uri: post.uri },
		};
	});
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

// export const prerender = false;

const { uri = "/" } = Astro.params as Params;

const { data } = await getSeedQuery({ uri });

const availableTemplates = await getCollection("templates");

const template = await getTemplate(
	data.nodeByUri,
	availableTemplates.map((template) => template.data)
);

Astro.locals.uri = uri;

if (template) {
	return Astro.rewrite(template?.path);
}
---

<div>Something is wrong if you're seeing this</div>
<pre>{JSON.stringify(template, null, 2)}</pre>
<pre>{JSON.stringify(data, null, 2)}</pre>
