---
import { formatDate } from "@/lib/strings";

export interface Props {
	comment: {
		content: string;
		author: {
			node: {
				name: string;
			};
		};
		dateGmt: string;
	};
}

const { comment } = Astro.props;

const {
	content,
	author: {
		node: { name },
	},
	dateGmt,
} = comment;
---

<li class={`p-4 list-none bg-gray-100 even:bg-gray-300 rounded-xs`}>
	<div class="flex space-x-3">
		<div class="flex-1 space-y-1">
			<div class="flex items-center justify-between">
				<h3 class="text-sm font-medium">{name}</h3>
				<p class="text-xs text-gray-600">{formatDate(dateGmt)}</p>
			</div>
			<div class="text-sm prose-green" set:html={content} />
		</div>
	</div>
</li>
