---
import Comment from "./comment.astro";

const { comments = [] } = Astro.props;

// Use test comments if no real comments exist
const finalComments = comments.length > 0 ? comments : [];
---

<>
	{
		comments.length === 0 ? (
			<p>There are no comments.</p>
		) : (
			<ul class="flex flex-col gap-2">
				{comments.map((comment) => {
					const { databaseId } = comment;
					return <Comment comment={comment} />;
				})}
			</ul>
		)
	}
</>
