---
import Comment from "./Comment.astro";

export interface Props {
	comments: Array<{
		content: string;
		databaseId: string;
		parentDatabaseId: string | null;
		author: {
			node: {
				name: string;
			};
		};
		dateGmt: string;
	}>;
}

const { comments } = Astro.props;
---

<>
	{
		comments.length === 0 ? (
			<p>There are no comments.</p>
		) : (
			<ul class="flex flex-col gap-2">
				{comments.map((comment) => {
					const { databaseId } = comment;
					return <Comment comment={comment} />;
				})}
			</ul>
		)
	}
</>
