---
import { client, gql } from "@/lib/client";
import CommentList from "./list.astro";
import CommentForm from "./SubmitComment.svelte";

const postId = Astro.locals.nodeSeed.databaseId;

const { data } = await client.query(
	gql`
		query CommentSection($postId: ID!) {
			post(id: $postId, idType: DATABASE_ID) {
				commentStatus
				comments {
					nodes {
						content
						databaseId
						parentDatabaseId
						author {
							node {
								name
							}
						}
						dateGmt
					}
				}
			}
		}
	`,
	{ postId }
);

const { commentStatus, comments } = data.post;
---

<section class="bg-green-700 p-8">
	<h1 class="text-lg font-bold py-4">Comments</h1>
	<CommentList {comments} />

	{
		commentStatus === "closed" ? (
			<div>Comments are disabled for this post</div>
		) : (
			<CommentForm client:visible {postId} />
		)
	}
</section>
