---
import { gql } from "@urql/core";
import { classNames } from "@/lib/strings";

export interface Props {
	data: {
		node?: {
			altText?: string;
			sourceUrl?: string;
			srcSet?: string;
		};
	};
	class?: string;
}

export const FeaturedImageFragment = gql`
	fragment FeaturedImage on Post {
		featuredImage {
			node {
				altText
				sourceUrl
				srcSet
			}
		}
	}
`;


const { data, class: className } = Astro.props;
const featuredImage = data?.node;
---

{featuredImage?.sourceUrl ? (
	<img
		class={classNames("w-full object-cover", className)}
		src={featuredImage.sourceUrl}
		srcset={featuredImage.srcSet}
		alt={featuredImage.altText}
	>
		<slot />
	</img>
) : (
	<div class={classNames("bg-green-600", className)}>
		<slot />
	</div>
)}


