---
const posts = [
	{ uri: "/", title: "Home" },
	{ uri: "/category/hiking/", title: "Hiking" },
	{
		uri: "/hiking/fkt-appalachian-high-route/",
		title: "FKT: Appalachian High Route",
	},
];
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet preload" href="https://rsms.me/inter/inter.css" />
    <title>GuruGoes</title>
  </head>
  <body>
		<nav>{
			posts.map(({ uri, title }) => {
				return (
				<br />
				<a href={uri}>{title}</a>
			);
			})
		}</nav>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
