---
import SEO from "@/components/SEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet preload" href="https://rsms.me/inter/inter.css" />

		<SEO />
	</head>
</html>
<body>
	<div class="grid auto-cols-auto grid-cols-1">
		<header class="z-10 col-start-1 col-end-2 row-start-1 row-end-2 p-4">
			<Header />
		</header>
		<div class="col-start-1 col-end-2 row-start-1 row-end-3">
			<div class="relative overflow-hidden bg-green-100">
				<div class="relative pt-6 pb-16 sm:pb-24">
					<main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
						<slot />
					</main>
				</div>
			</div>
		</div>
		<footer class="col-start-1 col-end-2 row-start-3 row-end-4">
			<Footer />
		</footer>
	</div>
</body>
